.error {
  color: lightcoral;
}

.success {
  color: green;
}

.warning {
  color: blue;
}

.lineTable {
  table-layout: fixed;
  width: 1600px;
}

.lineTableWithBottom {
  table-layout: fixed;
  width: 1600px;
  border-bottom: 0.2px solid grey;
}

.tableData {
  width: 400px;
  padding-left: 10px;
  padding-bottom: 0px;
  padding-top: 0px;
}

.internalNode {
  color: green;
  font-weight: bold;
}

.leafNode {
  color: black;
}
